// =========================================
//     FEEL FREE TO EDIT BELOW THIS LINE
// =========================================

// FONT SIZE BASE FOR YOUR GRID
$root-font-size: 16; // used in em calculations

$columns: 12;

// <editor-fold desc="BREAKPOINTS">
// Set each breakpoint key as the CSS name you want to use for that breakpoint (e.g. mobile, tablet, desktop, etc.)
// Set each breakpoint value as a raw number (DO NO INCLUDE A UNIT e.g use 320, not 320px or 320em)
$breakpoints: (
    mobile: (width: 320, defaultSpan: 12), // Max 2 columns if set explicitly. If not specified, col span defaults to 1 columns.
    tablet: (width: 640, defaultSpan: 6), // Max 4 columns if set explicitly. If not specified, col span defaults to 2 columns.
    desktop: (width: 769, defaultSpan: 6), // Max 6 columns if set explicitly. If not specified, col span defaults to 6 columns.
    desktop-hd: (width: 1025, defaultSpan: 4), // Max 12 columns if set explicitly. If not specified, col span defaults to 12 columns.
    cinema: (width: 1440, defaultSpan: 4), // Max 12 columns if set explicitly. If not specified, col span defaults to 6 columns.
);
//$breakpoints: (
//    micro: (width: 320, columns: 2, default: 1), // Max 2 columns if set explicitly. If not specified, defaults to 1 column max.
//    small: (width: 640, columns: 4, default: 2), // Max 4 columns if set explicitly. If not specified, defaults to 1 column max.
//    medium: (width: 768, columns: 6, default: 6), // Max 6 columns if set explicitly. If not specified, defaults to 6 column max.
//    large: (width: 1024, columns: 12, default: 12), // Max 12 columns if set explicitly. If not specified, defaults to 12 columns max.
//    expanded: (width: 1440, columns: 12, default: 12), // Max 12 columns if set explicitly. If not specified, defaults to 12 columns max.
//);
// </editor-fold>

// <editor-fold desc="GRID SYSTEM CLASS NAMES">
$gridName: grid !default;
$colName: col !default;
$modPrefix: mod_ !default;
// </editor-fold>

// <editor-fold desc="GUTTERS">
$gutter-horizontal: 1em !default;
$gutter-bottom: $gutter-horizontal !default;
// </editor-fold>

// <editor-fold desc="GENERATOR CONFIGURATION">
// Generating modifier classes for every breakpoint will greatly increase
// the generate file's size but allows much more granularity in controlling
// grid and column behavior than would otherwise be possible. (When using
// the default breakpoints, if both grid and column modifiers are enabled
// the size increases from 13KB to nearly 40KB)
$generateGridModifiersPerBreakpoint: false !default;
$generateColumnModifiersPerBreakpoint: true !default;
// </editor-fold>

// =======================================================================
//     WE RECOMMEND THAT YOU DO NO CUSTOMIZE VARIABLES BELOW THIS LINE
// =======================================================================

$breakpoint-names: map-keys($breakpoints) !default;
$breakpoint-values: map-values($breakpoints) !default;

$settings: (
    columns: $columns,
    gridName: $gridName,
    colName: $colName,
    modPrefix: $modPrefix,
    generateGridModifiersPerBreakpoint: $generateGridModifiersPerBreakpoint,
    generateColumnModifiersPerBreakpoint: $generateColumnModifiersPerBreakpoint,
);
