// =========================================
//     FEEL FREE TO EDIT BELOW THIS LINE
// =========================================

// FONT SIZE BASE FOR YOUR GRID
$root-font-size: 16; // used in em calculations

$columns: 12;

// <editor-fold desc="BREAKPOINTS">
// Set each breakpoint key as the CSS name you want to use for that breakpoint (e.g. mobile, tablet, desktop, etc.)
// Set each breakpoint minWidth value as an integer (DO NO INCLUDE A UNIT e.g use 320, not 320px or 320em) Min. width is the minimum width at which that breakpoint will take effect.
// Set each breakpoint defaultSpan value as an integer. It is the number of columns a column will span by default at that breakpoint
$breakpoints: (
    mobile: (minWidth: 0, defaultSpan: 12),
    tablet: (minWidth: 640, defaultSpan: 6),
    desktop: (minWidth: 769, defaultSpan: 6),
    desktop-hd: (minWidth: 1025, defaultSpan: 4),
    cinema: (minWidth: 1440, defaultSpan: 4),
);
//$breakpoints: (
//    micro: (minWidth: 0, defaultSpan: 12),
//    small: (minWidth: 640, defaultSpan: 6),
//    medium: (minWidth: 769, defaultSpan: 6),
//    large: (minWidth: 1025, defaultSpan: 4),
//    expanded: (minWidth: 1440, defaultSpan: 4),
//);
// </editor-fold>

// <editor-fold desc="GRID SYSTEM CLASS NAMES">
$gridName: grid !default;
$colName: col !default;
$modPrefix: mod_ !default;
// </editor-fold>

// <editor-fold desc="GUTTERS">
$gutter-horizontal: 1em !default;
$gutter-bottom: $gutter-horizontal !default;
// </editor-fold>

// <editor-fold desc="GENERATOR CONFIGURATION">
// Generating modifier classes for every breakpoint will greatly increase
// the generate file's size but allows much more granularity in controlling
// grid and column behavior than would otherwise be possible. (When using
// the default breakpoints, if both grid and column modifiers are enabled
// the size increases from 13KB to nearly 40KB)
$generateGridModifiersPerBreakpoint: false !default;
$generateColumnModifiersPerBreakpoint: true !default;
// </editor-fold>

// =======================================================================
//     WE RECOMMEND THAT YOU DO NO CUSTOMIZE VARIABLES BELOW THIS LINE
// =======================================================================

$breakpoint-names: map-keys($breakpoints) !default;
$breakpoint-values: map-values($breakpoints) !default;
