.grid,
[class*="grid-"] {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.col,
[class*="col-"] {
  box-sizing: border-box;
  padding: 0 0.5em 1em;
}

.grid.col,
.grid[class*="col-"] {
  margin: 0;
  padding: 0;
}

/*     GRID MEDIA QUERY grid_mobile    */
@media only screen and (min-width: 0em) and (max-width: 39.9375em) {
  /*     COLUMNS grid_mobile    */
  .grid > [class*='col-'],
  .grid > [class*='col-mobile-'],
  [class*="grid-"] > [class*='col-'],
  [class*="grid-"] > [class*='col-mobile-'],
  .grid-mobile > [class*='col-'],
  .grid-mobile > [class*='col-mobile-'] {
    flex-basis: 100%;
    max-width: 100%;
  }

  .grid > .col-1,
  .grid > .col-mobile-1,
  .grid-mobile > .col-1,
  .grid-mobile > .col-mobile-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .grid > .col-2,
  .grid > .col-mobile-2,
  .grid-mobile > .col-2,
  .grid-mobile > .col-mobile-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .grid > .col-3,
  .grid > .col-mobile-3,
  .grid-mobile > .col-3,
  .grid-mobile > .col-mobile-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid > .col-4,
  .grid > .col-mobile-4,
  .grid-mobile > .col-4,
  .grid-mobile > .col-mobile-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .grid > .col-5,
  .grid > .col-mobile-5,
  .grid-mobile > .col-5,
  .grid-mobile > .col-mobile-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .grid > .col-6,
  .grid > .col-mobile-6,
  .grid-mobile > .col-6,
  .grid-mobile > .col-mobile-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid > .col-7,
  .grid > .col-mobile-7,
  .grid-mobile > .col-7,
  .grid-mobile > .col-mobile-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .grid > .col-8,
  .grid > .col-mobile-8,
  .grid-mobile > .col-8,
  .grid-mobile > .col-mobile-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .grid > .col-9,
  .grid > .col-mobile-9,
  .grid-mobile > .col-9,
  .grid-mobile > .col-mobile-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid > .col-10,
  .grid > .col-mobile-10,
  .grid-mobile > .col-10,
  .grid-mobile > .col-mobile-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .grid > .col-11,
  .grid > .col-mobile-11,
  .grid-mobile > .col-11,
  .grid-mobile > .col-mobile-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .grid > .col-12,
  .grid > .col-mobile-12,
  .grid-mobile > .col-12,
  .grid-mobile > .col-mobile-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /*     GRID BY NUMBER grid_mobile    */
  .grid-1 > .col,
  .grid-mobile-1 > .col {
    flex-basis: 100%;
    max-width: 100%;
  }

  .grid-2 > .col, .grid-mobile-2 > .col, .grid-3 > .col, .grid-mobile-3 > .col, .grid-4 > .col, .grid-mobile-4 > .col, .grid-5 > .col, .grid-mobile-5 > .col, .grid-6 > .col, .grid-mobile-6 > .col, .grid-7 > .col, .grid-mobile-7 > .col, .grid-8 > .col, .grid-mobile-8 > .col, .grid-9 > .col, .grid-mobile-9 > .col, .grid-10 > .col, .grid-mobile-10 > .col, .grid-11 > .col, .grid-mobile-11 > .col, .grid-12 > .col, .grid-mobile-12 > .col {
    flex-basis: 100%;
    max-width: 100%;
  }
}
/*     GRID MEDIA QUERY grid_tablet    */
@media only screen and (min-width: 40em) and (max-width: 48em) {
  /*     COLUMNS grid_tablet    */
  .grid > [class*='col-'],
  .grid > [class*='col-tablet-'],
  [class*="grid-"] > [class*='col-'],
  [class*="grid-"] > [class*='col-tablet-'],
  .grid-tablet > [class*='col-'],
  .grid-tablet > [class*='col-tablet-'] {
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid > .col-1,
  .grid > .col-tablet-1,
  .grid-tablet > .col-1,
  .grid-tablet > .col-tablet-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .grid > .col-2,
  .grid > .col-tablet-2,
  .grid-tablet > .col-2,
  .grid-tablet > .col-tablet-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .grid > .col-3,
  .grid > .col-tablet-3,
  .grid-tablet > .col-3,
  .grid-tablet > .col-tablet-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid > .col-4,
  .grid > .col-tablet-4,
  .grid-tablet > .col-4,
  .grid-tablet > .col-tablet-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .grid > .col-5,
  .grid > .col-tablet-5,
  .grid-tablet > .col-5,
  .grid-tablet > .col-tablet-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .grid > .col-6,
  .grid > .col-tablet-6,
  .grid-tablet > .col-6,
  .grid-tablet > .col-tablet-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid > .col-7,
  .grid > .col-tablet-7,
  .grid-tablet > .col-7,
  .grid-tablet > .col-tablet-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .grid > .col-8,
  .grid > .col-tablet-8,
  .grid-tablet > .col-8,
  .grid-tablet > .col-tablet-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .grid > .col-9,
  .grid > .col-tablet-9,
  .grid-tablet > .col-9,
  .grid-tablet > .col-tablet-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid > .col-10,
  .grid > .col-tablet-10,
  .grid-tablet > .col-10,
  .grid-tablet > .col-tablet-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .grid > .col-11,
  .grid > .col-tablet-11,
  .grid-tablet > .col-11,
  .grid-tablet > .col-tablet-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .grid > .col-12,
  .grid > .col-tablet-12,
  .grid-tablet > .col-12,
  .grid-tablet > .col-tablet-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /*     GRID BY NUMBER grid_tablet    */
  .grid-1 > .col,
  .grid-tablet-1 > .col {
    flex-basis: 100%;
    max-width: 100%;
  }

  .grid-2 > .col,
  .grid-tablet-2 > .col {
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid-3 > .col, .grid-tablet-3 > .col, .grid-4 > .col, .grid-tablet-4 > .col, .grid-5 > .col, .grid-tablet-5 > .col, .grid-6 > .col, .grid-tablet-6 > .col, .grid-7 > .col, .grid-tablet-7 > .col, .grid-8 > .col, .grid-tablet-8 > .col, .grid-9 > .col, .grid-tablet-9 > .col, .grid-10 > .col, .grid-tablet-10 > .col, .grid-11 > .col, .grid-tablet-11 > .col, .grid-12 > .col, .grid-tablet-12 > .col {
    flex-basis: 50%;
    max-width: 50%;
  }
}
/*     GRID MEDIA QUERY grid_desktop    */
@media only screen and (min-width: 48.0625em) and (max-width: 64em) {
  /*     COLUMNS grid_desktop    */
  .grid > [class*='col-'],
  .grid > [class*='col-desktop-'],
  [class*="grid-"] > [class*='col-'],
  [class*="grid-"] > [class*='col-desktop-'],
  .grid-desktop > [class*='col-'],
  .grid-desktop > [class*='col-desktop-'] {
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid > .col-1,
  .grid > .col-desktop-1,
  .grid-desktop > .col-1,
  .grid-desktop > .col-desktop-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .grid > .col-2,
  .grid > .col-desktop-2,
  .grid-desktop > .col-2,
  .grid-desktop > .col-desktop-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .grid > .col-3,
  .grid > .col-desktop-3,
  .grid-desktop > .col-3,
  .grid-desktop > .col-desktop-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid > .col-4,
  .grid > .col-desktop-4,
  .grid-desktop > .col-4,
  .grid-desktop > .col-desktop-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .grid > .col-5,
  .grid > .col-desktop-5,
  .grid-desktop > .col-5,
  .grid-desktop > .col-desktop-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .grid > .col-6,
  .grid > .col-desktop-6,
  .grid-desktop > .col-6,
  .grid-desktop > .col-desktop-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid > .col-7,
  .grid > .col-desktop-7,
  .grid-desktop > .col-7,
  .grid-desktop > .col-desktop-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .grid > .col-8,
  .grid > .col-desktop-8,
  .grid-desktop > .col-8,
  .grid-desktop > .col-desktop-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .grid > .col-9,
  .grid > .col-desktop-9,
  .grid-desktop > .col-9,
  .grid-desktop > .col-desktop-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid > .col-10,
  .grid > .col-desktop-10,
  .grid-desktop > .col-10,
  .grid-desktop > .col-desktop-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .grid > .col-11,
  .grid > .col-desktop-11,
  .grid-desktop > .col-11,
  .grid-desktop > .col-desktop-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .grid > .col-12,
  .grid > .col-desktop-12,
  .grid-desktop > .col-12,
  .grid-desktop > .col-desktop-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /*     GRID BY NUMBER grid_desktop    */
  .grid-1 > .col,
  .grid-desktop-1 > .col {
    flex-basis: 100%;
    max-width: 100%;
  }

  .grid-2 > .col,
  .grid-desktop-2 > .col {
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid-3 > .col, .grid-desktop-3 > .col, .grid-4 > .col, .grid-desktop-4 > .col, .grid-5 > .col, .grid-desktop-5 > .col, .grid-6 > .col, .grid-desktop-6 > .col, .grid-7 > .col, .grid-desktop-7 > .col, .grid-8 > .col, .grid-desktop-8 > .col, .grid-9 > .col, .grid-desktop-9 > .col, .grid-10 > .col, .grid-desktop-10 > .col, .grid-11 > .col, .grid-desktop-11 > .col, .grid-12 > .col, .grid-desktop-12 > .col {
    flex-basis: 50%;
    max-width: 50%;
  }
}
/*     GRID MEDIA QUERY grid_desktop-hd    */
@media only screen and (min-width: 64.0625em) and (max-width: 89.9375em) {
  /*     COLUMNS grid_desktop-hd    */
  .grid > [class*='col-'],
  .grid > [class*='col-desktop-hd-'],
  [class*="grid-"] > [class*='col-'],
  [class*="grid-"] > [class*='col-desktop-hd-'],
  .grid-desktop-hd > [class*='col-'],
  .grid-desktop-hd > [class*='col-desktop-hd-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .grid > .col-1,
  .grid > .col-desktop-hd-1,
  .grid-desktop-hd > .col-1,
  .grid-desktop-hd > .col-desktop-hd-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .grid > .col-2,
  .grid > .col-desktop-hd-2,
  .grid-desktop-hd > .col-2,
  .grid-desktop-hd > .col-desktop-hd-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .grid > .col-3,
  .grid > .col-desktop-hd-3,
  .grid-desktop-hd > .col-3,
  .grid-desktop-hd > .col-desktop-hd-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid > .col-4,
  .grid > .col-desktop-hd-4,
  .grid-desktop-hd > .col-4,
  .grid-desktop-hd > .col-desktop-hd-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .grid > .col-5,
  .grid > .col-desktop-hd-5,
  .grid-desktop-hd > .col-5,
  .grid-desktop-hd > .col-desktop-hd-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .grid > .col-6,
  .grid > .col-desktop-hd-6,
  .grid-desktop-hd > .col-6,
  .grid-desktop-hd > .col-desktop-hd-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid > .col-7,
  .grid > .col-desktop-hd-7,
  .grid-desktop-hd > .col-7,
  .grid-desktop-hd > .col-desktop-hd-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .grid > .col-8,
  .grid > .col-desktop-hd-8,
  .grid-desktop-hd > .col-8,
  .grid-desktop-hd > .col-desktop-hd-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .grid > .col-9,
  .grid > .col-desktop-hd-9,
  .grid-desktop-hd > .col-9,
  .grid-desktop-hd > .col-desktop-hd-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid > .col-10,
  .grid > .col-desktop-hd-10,
  .grid-desktop-hd > .col-10,
  .grid-desktop-hd > .col-desktop-hd-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .grid > .col-11,
  .grid > .col-desktop-hd-11,
  .grid-desktop-hd > .col-11,
  .grid-desktop-hd > .col-desktop-hd-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .grid > .col-12,
  .grid > .col-desktop-hd-12,
  .grid-desktop-hd > .col-12,
  .grid-desktop-hd > .col-desktop-hd-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /*     GRID BY NUMBER grid_desktop-hd    */
  .grid-1 > .col,
  .grid-desktop-hd-1 > .col {
    flex-basis: 100%;
    max-width: 100%;
  }

  .grid-2 > .col,
  .grid-desktop-hd-2 > .col {
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid-3 > .col,
  .grid-desktop-hd-3 > .col {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .grid-4 > .col, .grid-desktop-hd-4 > .col, .grid-5 > .col, .grid-desktop-hd-5 > .col, .grid-6 > .col, .grid-desktop-hd-6 > .col, .grid-7 > .col, .grid-desktop-hd-7 > .col, .grid-8 > .col, .grid-desktop-hd-8 > .col, .grid-9 > .col, .grid-desktop-hd-9 > .col, .grid-10 > .col, .grid-desktop-hd-10 > .col, .grid-11 > .col, .grid-desktop-hd-11 > .col, .grid-12 > .col, .grid-desktop-hd-12 > .col {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
/*     GRID MEDIA QUERY grid_cinema    */
@media only screen and (min-width: 90em) {
  /*     COLUMNS grid_cinema    */
  .grid > [class*='col-'],
  .grid > [class*='col-cinema-'],
  [class*="grid-"] > [class*='col-'],
  [class*="grid-"] > [class*='col-cinema-'],
  .grid-cinema > [class*='col-'],
  .grid-cinema > [class*='col-cinema-'] {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .grid > .col-1,
  .grid > .col-cinema-1,
  .grid-cinema > .col-1,
  .grid-cinema > .col-cinema-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .grid > .col-2,
  .grid > .col-cinema-2,
  .grid-cinema > .col-2,
  .grid-cinema > .col-cinema-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .grid > .col-3,
  .grid > .col-cinema-3,
  .grid-cinema > .col-3,
  .grid-cinema > .col-cinema-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid > .col-4,
  .grid > .col-cinema-4,
  .grid-cinema > .col-4,
  .grid-cinema > .col-cinema-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .grid > .col-5,
  .grid > .col-cinema-5,
  .grid-cinema > .col-5,
  .grid-cinema > .col-cinema-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .grid > .col-6,
  .grid > .col-cinema-6,
  .grid-cinema > .col-6,
  .grid-cinema > .col-cinema-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid > .col-7,
  .grid > .col-cinema-7,
  .grid-cinema > .col-7,
  .grid-cinema > .col-cinema-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .grid > .col-8,
  .grid > .col-cinema-8,
  .grid-cinema > .col-8,
  .grid-cinema > .col-cinema-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .grid > .col-9,
  .grid > .col-cinema-9,
  .grid-cinema > .col-9,
  .grid-cinema > .col-cinema-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid > .col-10,
  .grid > .col-cinema-10,
  .grid-cinema > .col-10,
  .grid-cinema > .col-cinema-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .grid > .col-11,
  .grid > .col-cinema-11,
  .grid-cinema > .col-11,
  .grid-cinema > .col-cinema-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .grid > .col-12,
  .grid > .col-cinema-12,
  .grid-cinema > .col-12,
  .grid-cinema > .col-cinema-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /*     GRID BY NUMBER grid_cinema    */
  .grid-1 > .col,
  .grid-cinema-1 > .col {
    flex-basis: 100%;
    max-width: 100%;
  }

  .grid-2 > .col,
  .grid-cinema-2 > .col {
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid-3 > .col,
  .grid-cinema-3 > .col {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .grid-4 > .col, .grid-cinema-4 > .col, .grid-5 > .col, .grid-cinema-5 > .col, .grid-6 > .col, .grid-cinema-6 > .col, .grid-7 > .col, .grid-cinema-7 > .col, .grid-8 > .col, .grid-cinema-8 > .col, .grid-9 > .col, .grid-cinema-9 > .col, .grid-10 > .col, .grid-cinema-10 > .col, .grid-11 > .col, .grid-cinema-11 > .col, .grid-12 > .col, .grid-cinema-12 > .col {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
.grid.mod_removeGutter,
[class*="grid-"].mod_removeGutter {
  margin: 0;
}
.grid.mod_removeGutter > .col,
.grid.mod_removeGutter > [class*="col-"],
[class*="grid-"].mod_removeGutter > .col,
[class*="grid-"].mod_removeGutter > [class*="col-"] {
  padding: 0;
}
.grid.mod_removeGutter-horizontal,
[class*="grid-"].mod_removeGutter-horizontal {
  margin-left: 0;
  margin-right: 0;
}
.grid.mod_removeGutter-horizontal > .col,
.grid.mod_removeGutter-horizontal > [class*="col-"],
[class*="grid-"].mod_removeGutter-horizontal > .col,
[class*="grid-"].mod_removeGutter-horizontal > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.grid.mod_removeGutter-vertical,
[class*="grid-"].mod_removeGutter-vertical {
  margin-top: 0;
  margin-bottom: 0;
}
.grid.mod_removeGutter-vertical > .col,
.grid.mod_removeGutter-vertical > [class*="col-"],
[class*="grid-"].mod_removeGutter-vertical > .col,
[class*="grid-"].mod_removeGutter-vertical > [class*="col-"] {
  padding-top: 0;
  padding-bottom: 0;
}
.grid.mod_removeGutter-left,
[class*="grid-"].mod_removeGutter-left {
  margin-left: 0;
}
.grid.mod_removeGutter-left > .col,
.grid.mod_removeGutter-left > [class*="col-"],
[class*="grid-"].mod_removeGutter-left > .col,
[class*="grid-"].mod_removeGutter-left > [class*="col-"] {
  padding-left: 0;
}
.grid.mod_removeGutter-right,
[class*="grid-"].mod_removeGutter-right {
  margin-right: 0;
}
.grid.mod_removeGutter-right > .col,
.grid.mod_removeGutter-right > [class*="col-"],
[class*="grid-"].mod_removeGutter-right > .col,
[class*="grid-"].mod_removeGutter-right > [class*="col-"] {
  padding-right: 0;
}
.grid.mod_removeGutter-top,
[class*="grid-"].mod_removeGutter-top {
  margin-top: 0;
}
.grid.mod_removeGutter-top > .col,
.grid.mod_removeGutter-top > [class*="col-"],
[class*="grid-"].mod_removeGutter-top > .col,
[class*="grid-"].mod_removeGutter-top > [class*="col-"] {
  padding-top: 0;
}
.grid.mod_removeGutter-bottom,
[class*="grid-"].mod_removeGutter-bottom {
  margin-top: 0;
}
.grid.mod_removeGutter-bottom > .col,
.grid.mod_removeGutter-bottom > [class*="col-"],
[class*="grid-"].mod_removeGutter-bottom > .col,
[class*="grid-"].mod_removeGutter-bottom > [class*="col-"] {
  padding-bottom: 0;
}
.grid.mod_left,
[class*="grid-"].mod_left {
  justify-content: flex-start;
  margin-right: auto;
  align-self: flex-start;
}
.grid.mod_center,
[class*="grid-"].mod_center {
  justify-content: center;
}
.grid.mod_right,
[class*="grid-"].mod_right {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}
.grid.mod_top,
[class*="grid-"].mod_top {
  align-items: flex-start;
}
.grid.mod_middle,
[class*="grid-"].mod_middle {
  align-items: center;
}
.grid.mod_bottom,
[class*="grid-"].mod_bottom {
  align-items: flex-end;
}
.grid.mod_reverse,
[class*="grid-"].mod_reverse {
  flex-direction: row-reverse;
}
.grid.mod_column,
[class*="grid-"].mod_column {
  flex-direction: column;
}
.grid.mod_column > .col,
.grid.mod_column > [class*="col-"],
[class*="grid-"].mod_column > .col,
[class*="grid-"].mod_column > [class*="col-"] {
  flex-basis: auto;
}
.grid.mod_column-reverse,
[class*="grid-"].mod_column-reverse {
  flex-direction: column-reverse;
}
.grid.mod_spaceBetween,
[class*="grid-"].mod_spaceBetween {
  justify-content: space-between;
}
.grid.mod_spaceAround,
[class*="grid-"].mod_spaceAround {
  justify-content: space-around;
}
.grid.mod_equalHeight > .col,
.grid.mod_equalHeight > [class*="col-"],
[class*="grid-"].mod_equalHeight > .col,
[class*="grid-"].mod_equalHeight > [class*="col-"] {
  display: flex;
}

.col.mod_removeGutter,
[class*="col-"].mod_removeGutter {
  padding: 0;
}
.col.mod_removeGutter-left,
[class*="col-"].mod_removeGutter-left {
  padding-left: 0;
}
.col.mod_removeGutter-right,
[class*="col-"].mod_removeGutter-right {
  padding-right: 0;
}
.col.mod_removeGutter-top,
[class*="col-"].mod_removeGutter-top {
  padding-top: 0;
}
.col.mod_removeGutter-bottom,
[class*="col-"].mod_removeGutter-bottom {
  padding-bottom: 0;
}
.col.mod_top,
[class*="col-"].mod_top {
  align-self: flex-start;
}
.col.mod_middle,
[class*="col-"].mod_middle {
  align-self: center;
}
.col.mod_bottom,
[class*="col-"].mod_bottom {
  align-self: flex-end;
}
.col.mod_right,
[class*="col-"].mod_right {
  margin-left: auto;
}
.col.mod_left,
[class*="col-"].mod_left {
  margin-right: auto;
}
.col.mod_first,
[class*="col-"].mod_first {
  order: -1;
}
.col.mod_last,
[class*="col-"].mod_last {
  order: 1;
}
.col.mod_grow,
[class*="col-"].mod_grow {
  flex: 1;
  flex-basis: auto;
  max-width: none;
}

/*# sourceMappingURL=gridlex.css.map */
