@import "variables";
@import "mixins";

.#{$gridName},
//[class*="#{$gridName}_"]
[class*="#{$gridName}-"] {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
}

.#{$colName},
//[class*="#{$gl-colName}_"]
[class*="#{$colName}-"] {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 ($gutter-horizontal/2) $gutter-bottom;
}

//.#{$gl-colName}-full {
//    flex-basis: 100% !important;
//    max-width: 100% !important;
//}

//.#{$gl-colName} {
//    flex: 1 1 0;
//}

.#{$gridName}.#{$colName},
.#{$gridName}[class*="#{$colName}-"] {
    margin: 0;
    padding: 0;
}

@each $breakpointName, $breakpoint in $breakpoints {
    $width: map-get($breakpoint, width);
    $defaultSpan: map-get($breakpoint, defaultSpan);
    //$columns: map-get($breakpoint, columns);
    $widthEm: 1em * ($width / $root-font-size);

    .#{$gridName} > .mod_shrink[class*="#{$colName}-"] {
        flex-basis: 100% / $defaultSpan;
        flex-grow: 0;
        max-width: 100% / $defaultSpan;
    }

    // =================================================
    /*     GRID MEDIA QUERY #{$gridName}_#{$breakpointName}    */
    // =================================================
    $nextBreakpointNameIndex: index($breakpoint-names, $breakpointName) + 1;

    $mq: '' !default;
    @if ($nextBreakpointNameIndex <= length($breakpoint-names)) {
        $nextBreakpointName: nth($breakpoint-names, $nextBreakpointNameIndex);
        $nextBreakpoint: map-get($breakpoints, $nextBreakpointName);
        $nextBreakpointWidth: map-get($nextBreakpoint, width);
        $nextBreakpointWidthEm: 1em * (($nextBreakpointWidth - 1) / $root-font-size);
        $mq: "only screen and (min-width: #{$widthEm}) and (max-width: #{$nextBreakpointWidthEm})";
    } @else {
        $mq: "only screen and (min-width: #{$widthEm})";
    }
    @media #{$mq} {
        // =================================
        /*     COLUMNS #{$gridName}_#{$breakpointName}    */
        // =================================
        @include makeCol($breakpointName, $colName, $defaultSpan);

        // =================================================
        /*     GRID BY NUMBER #{$gridName}_#{$breakpointName}    */
        // =================================================
        @include makeGridByNumber($breakpointName, $defaultSpan);

        // =================================
        ///*     OFFSETS #{$gridName}_#{$breakpointName}    */
        // =================================
        //@include makeOff($gridName, $breakpointName, $gl-offName, $columns, $default);
    }

}

@include gridMods($colName, '');

@include colMods($colName, '');
