/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System
========================================================================== */
.grid,
[class*="grid-"] {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 0em;
}

.col,
[class*="col-"] {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 0em 0em;
}

.col {
  flex: 1 1 0%;
}

.grid.col,
.grid[class*="col-"] {
  margin: 0;
  padding: 0;
}

/************************
    HELPERS SUFFIXES
*************************/
[class*="grid-"][class*="-noGutter"] {
  margin: 0;
}
[class*="grid-"][class*="-noGutter"] > [class*="col"] {
  padding: 0;
}
[class*="grid-"][class*="-center"] {
  justify-content: center;
}
[class*="grid-"][class*="-right"] {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}
[class*="grid-"][class*="-top"] {
  align-items: flex-start;
}
[class*="grid-"][class*="-middle"] {
  align-items: center;
}
[class*="grid-"][class*="-bottom"] {
  align-items: flex-end;
}
[class*="grid-"][class*="-reverse"] {
  flex-direction: row-reverse;
}
[class*="grid-"][class*="-column"] {
  flex-direction: column;
}
[class*="grid-"][class*="-column"] > [class*="col-"] {
  flex-basis: auto;
}
[class*="grid-"][class*="-column-reverse"] {
  flex-direction: column-reverse;
}
[class*="grid-"][class*="-spaceBetween"] {
  justify-content: space-between;
}
[class*="grid-"][class*="-spaceAround"] {
  justify-content: space-around;
}
[class*="grid-"][class*="-equalHeight"] > [class*="col"] {
  display: flex;
}
[class*="grid-"][class*="-noBottom"] > [class*="col"] {
  padding-bottom: 0;
}

[class*="col-"][class*="-top"] {
  align-self: flex-start;
}
[class*="col-"][class*="-middle"] {
  align-self: center;
}
[class*="col-"][class*="-bottom"] {
  align-self: flex-end;
}
[class*="col-"][class*="-first"] {
  order: -1;
}
[class*="col-"][class*="-last"] {
  order: 1;
}

/*     GRID MEDIA QUERY grid_mobile    */
@media only screen and (min-width: 20em) {
  /*     GRID BY NUMBER grid_mobile    */
  [class*="grid-"] > .col,
  [class*="grid_mobile-"] > .col {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  .mod_shrink[class*="grid-"] > .col,
  .mod_shrink[class*="grid_mobile-"] > .col {
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
  }

  .grid-1 > .col,
  .grid_mobile-1 > .col {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  .grid-2 > .col,
  .grid_mobile-2 > .col {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }

  /*     COLUMNS grid_mobile    */
  .grid > [class*='col-'],
  .grid > [class*='col_mobile-'],
  [class*="grid-"] > [class*='col-'],
  [class*="grid-"] > [class*='col_mobile-'],
  .grid_mobile > [class*='col-'],
  .grid_mobile > [class*='col_mobile-'] {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }
  .grid > .col-1,
  .grid > .col_mobile-1,
  [class*="grid-"] > .col-1,
  [class*="grid-"] > .col_mobile-1,
  .grid_mobile > .col-1,
  .grid_mobile > .col_mobile-1 {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }
  .grid > .col-2,
  .grid > .col_mobile-2,
  [class*="grid-"] > .col-2,
  [class*="grid-"] > .col_mobile-2,
  .grid_mobile > .col-2,
  .grid_mobile > .col_mobile-2 {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  /*     OFFSETS grid_mobile    */
  .grid > .push-left-off-0,
  [class*="grid-"] > .push-left-off-0 {
    margin-left: 0%;
  }
  .grid > .push-right-off-0,
  [class*="grid-"] > .push-right-off-0 {
    margin-right: 0%;
  }
  .grid > .push-left-off-1,
  [class*="grid-"] > .push-left-off-1 {
    margin-left: 50%;
  }
  .grid > .push-right-off-1,
  [class*="grid-"] > .push-right-off-1 {
    margin-right: 50%;
  }
}
/*     GRID MEDIA QUERY grid_tablet    */
@media only screen and (min-width: 40em) {
  /*     GRID BY NUMBER grid_tablet    */
  [class*="grid-"] > .col,
  [class*="grid_tablet-"] > .col {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }

  .mod_shrink[class*="grid-"] > .col,
  .mod_shrink[class*="grid_tablet-"] > .col {
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
  }

  .grid-1 > .col,
  .grid_tablet-1 > .col {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  .grid-2 > .col,
  .grid_tablet-2 > .col {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }

  .grid-3 > .col,
  .grid_tablet-3 > .col {
    flex-basis: 33.33333%;
    flex-grow: 1;
    min-width: 33.33333%;
  }

  .grid-4 > .col,
  .grid_tablet-4 > .col {
    flex-basis: 25%;
    flex-grow: 1;
    min-width: 25%;
  }

  /*     COLUMNS grid_tablet    */
  .grid > [class*='col-'],
  .grid > [class*='col_tablet-'],
  [class*="grid-"] > [class*='col-'],
  [class*="grid-"] > [class*='col_tablet-'],
  .grid_tablet > [class*='col-'],
  .grid_tablet > [class*='col_tablet-'] {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }
  .grid > .col-1,
  .grid > .col_tablet-1,
  [class*="grid-"] > .col-1,
  [class*="grid-"] > .col_tablet-1,
  .grid_tablet > .col-1,
  .grid_tablet > .col_tablet-1 {
    flex-basis: 25%;
    flex-grow: 1;
    min-width: 25%;
  }
  .grid > .col-2,
  .grid > .col_tablet-2,
  [class*="grid-"] > .col-2,
  [class*="grid-"] > .col_tablet-2,
  .grid_tablet > .col-2,
  .grid_tablet > .col_tablet-2 {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }
  .grid > .col-3,
  .grid > .col_tablet-3,
  [class*="grid-"] > .col-3,
  [class*="grid-"] > .col_tablet-3,
  .grid_tablet > .col-3,
  .grid_tablet > .col_tablet-3 {
    flex-basis: 75%;
    flex-grow: 1;
    min-width: 75%;
  }
  .grid > .col-4,
  .grid > .col_tablet-4,
  [class*="grid-"] > .col-4,
  [class*="grid-"] > .col_tablet-4,
  .grid_tablet > .col-4,
  .grid_tablet > .col_tablet-4 {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  /*     OFFSETS grid_tablet    */
  .grid > .push-left-off-0,
  [class*="grid-"] > .push-left-off-0 {
    margin-left: 0%;
  }
  .grid > .push-right-off-0,
  [class*="grid-"] > .push-right-off-0 {
    margin-right: 0%;
  }
  .grid > .push-left-off-1,
  [class*="grid-"] > .push-left-off-1 {
    margin-left: 25%;
  }
  .grid > .push-right-off-1,
  [class*="grid-"] > .push-right-off-1 {
    margin-right: 25%;
  }
  .grid > .push-left-off-2,
  [class*="grid-"] > .push-left-off-2 {
    margin-left: 50%;
  }
  .grid > .push-right-off-2,
  [class*="grid-"] > .push-right-off-2 {
    margin-right: 50%;
  }
  .grid > .push-left-off-3,
  [class*="grid-"] > .push-left-off-3 {
    margin-left: 75%;
  }
  .grid > .push-right-off-3,
  [class*="grid-"] > .push-right-off-3 {
    margin-right: 75%;
  }
}
/*     GRID MEDIA QUERY grid_desktop    */
@media only screen and (min-width: 48em) {
  /*     GRID BY NUMBER grid_desktop    */
  [class*="grid-"] > .col,
  [class*="grid_desktop-"] > .col {
    flex-basis: 16.66667%;
    flex-grow: 1;
    min-width: 16.66667%;
  }

  .mod_shrink[class*="grid-"] > .col,
  .mod_shrink[class*="grid_desktop-"] > .col {
    flex-basis: 16.66667%;
    flex-grow: 0;
    max-width: 16.66667%;
  }

  .grid-1 > .col,
  .grid_desktop-1 > .col {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  .grid-2 > .col,
  .grid_desktop-2 > .col {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }

  .grid-3 > .col,
  .grid_desktop-3 > .col {
    flex-basis: 33.33333%;
    flex-grow: 1;
    min-width: 33.33333%;
  }

  .grid-4 > .col,
  .grid_desktop-4 > .col {
    flex-basis: 25%;
    flex-grow: 1;
    min-width: 25%;
  }

  .grid-5 > .col,
  .grid_desktop-5 > .col {
    flex-basis: 20%;
    flex-grow: 1;
    min-width: 20%;
  }

  .grid-6 > .col,
  .grid_desktop-6 > .col {
    flex-basis: 16.66667%;
    flex-grow: 1;
    min-width: 16.66667%;
  }

  /*     COLUMNS grid_desktop    */
  .grid > [class*='col-'],
  .grid > [class*='col_desktop-'],
  [class*="grid-"] > [class*='col-'],
  [class*="grid-"] > [class*='col_desktop-'],
  .grid_desktop > [class*='col-'],
  .grid_desktop > [class*='col_desktop-'] {
    flex-basis: 16.66667%;
    flex-grow: 1;
    min-width: 16.66667%;
  }
  .grid > .col-1,
  .grid > .col_desktop-1,
  [class*="grid-"] > .col-1,
  [class*="grid-"] > .col_desktop-1,
  .grid_desktop > .col-1,
  .grid_desktop > .col_desktop-1 {
    flex-basis: 16.66667%;
    flex-grow: 1;
    min-width: 16.66667%;
  }
  .grid > .col-2,
  .grid > .col_desktop-2,
  [class*="grid-"] > .col-2,
  [class*="grid-"] > .col_desktop-2,
  .grid_desktop > .col-2,
  .grid_desktop > .col_desktop-2 {
    flex-basis: 33.33333%;
    flex-grow: 1;
    min-width: 33.33333%;
  }
  .grid > .col-3,
  .grid > .col_desktop-3,
  [class*="grid-"] > .col-3,
  [class*="grid-"] > .col_desktop-3,
  .grid_desktop > .col-3,
  .grid_desktop > .col_desktop-3 {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }
  .grid > .col-4,
  .grid > .col_desktop-4,
  [class*="grid-"] > .col-4,
  [class*="grid-"] > .col_desktop-4,
  .grid_desktop > .col-4,
  .grid_desktop > .col_desktop-4 {
    flex-basis: 66.66667%;
    flex-grow: 1;
    min-width: 66.66667%;
  }
  .grid > .col-5,
  .grid > .col_desktop-5,
  [class*="grid-"] > .col-5,
  [class*="grid-"] > .col_desktop-5,
  .grid_desktop > .col-5,
  .grid_desktop > .col_desktop-5 {
    flex-basis: 83.33333%;
    flex-grow: 1;
    min-width: 83.33333%;
  }
  .grid > .col-6,
  .grid > .col_desktop-6,
  [class*="grid-"] > .col-6,
  [class*="grid-"] > .col_desktop-6,
  .grid_desktop > .col-6,
  .grid_desktop > .col_desktop-6 {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  /*     OFFSETS grid_desktop    */
  .grid > .push-left-off-0,
  [class*="grid-"] > .push-left-off-0 {
    margin-left: 0%;
  }
  .grid > .push-right-off-0,
  [class*="grid-"] > .push-right-off-0 {
    margin-right: 0%;
  }
  .grid > .push-left-off-1,
  [class*="grid-"] > .push-left-off-1 {
    margin-left: 16.66667%;
  }
  .grid > .push-right-off-1,
  [class*="grid-"] > .push-right-off-1 {
    margin-right: 16.66667%;
  }
  .grid > .push-left-off-2,
  [class*="grid-"] > .push-left-off-2 {
    margin-left: 33.33333%;
  }
  .grid > .push-right-off-2,
  [class*="grid-"] > .push-right-off-2 {
    margin-right: 33.33333%;
  }
  .grid > .push-left-off-3,
  [class*="grid-"] > .push-left-off-3 {
    margin-left: 50%;
  }
  .grid > .push-right-off-3,
  [class*="grid-"] > .push-right-off-3 {
    margin-right: 50%;
  }
  .grid > .push-left-off-4,
  [class*="grid-"] > .push-left-off-4 {
    margin-left: 66.66667%;
  }
  .grid > .push-right-off-4,
  [class*="grid-"] > .push-right-off-4 {
    margin-right: 66.66667%;
  }
  .grid > .push-left-off-5,
  [class*="grid-"] > .push-left-off-5 {
    margin-left: 83.33333%;
  }
  .grid > .push-right-off-5,
  [class*="grid-"] > .push-right-off-5 {
    margin-right: 83.33333%;
  }
}
/*     GRID MEDIA QUERY grid_desktop-hd    */
@media only screen and (min-width: 64em) {
  /*     GRID BY NUMBER grid_desktop-hd    */
  [class*="grid-"] > .col,
  [class*="grid_desktop-hd-"] > .col {
    flex-basis: 8.33333%;
    flex-grow: 1;
    min-width: 8.33333%;
  }

  .mod_shrink[class*="grid-"] > .col,
  .mod_shrink[class*="grid_desktop-hd-"] > .col {
    flex-basis: 8.33333%;
    flex-grow: 0;
    max-width: 8.33333%;
  }

  .grid-1 > .col,
  .grid_desktop-hd-1 > .col {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  .grid-2 > .col,
  .grid_desktop-hd-2 > .col {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }

  .grid-3 > .col,
  .grid_desktop-hd-3 > .col {
    flex-basis: 33.33333%;
    flex-grow: 1;
    min-width: 33.33333%;
  }

  .grid-4 > .col,
  .grid_desktop-hd-4 > .col {
    flex-basis: 25%;
    flex-grow: 1;
    min-width: 25%;
  }

  .grid-5 > .col,
  .grid_desktop-hd-5 > .col {
    flex-basis: 20%;
    flex-grow: 1;
    min-width: 20%;
  }

  .grid-6 > .col,
  .grid_desktop-hd-6 > .col {
    flex-basis: 16.66667%;
    flex-grow: 1;
    min-width: 16.66667%;
  }

  .grid-7 > .col,
  .grid_desktop-hd-7 > .col {
    flex-basis: 14.28571%;
    flex-grow: 1;
    min-width: 14.28571%;
  }

  .grid-8 > .col,
  .grid_desktop-hd-8 > .col {
    flex-basis: 12.5%;
    flex-grow: 1;
    min-width: 12.5%;
  }

  .grid-9 > .col,
  .grid_desktop-hd-9 > .col {
    flex-basis: 11.11111%;
    flex-grow: 1;
    min-width: 11.11111%;
  }

  .grid-10 > .col,
  .grid_desktop-hd-10 > .col {
    flex-basis: 10%;
    flex-grow: 1;
    min-width: 10%;
  }

  .grid-11 > .col,
  .grid_desktop-hd-11 > .col {
    flex-basis: 9.09091%;
    flex-grow: 1;
    min-width: 9.09091%;
  }

  .grid-12 > .col,
  .grid_desktop-hd-12 > .col {
    flex-basis: 8.33333%;
    flex-grow: 1;
    min-width: 8.33333%;
  }

  /*     COLUMNS grid_desktop-hd    */
  .grid > [class*='col-'],
  .grid > [class*='col_desktop-hd-'],
  [class*="grid-"] > [class*='col-'],
  [class*="grid-"] > [class*='col_desktop-hd-'],
  .grid_desktop-hd > [class*='col-'],
  .grid_desktop-hd > [class*='col_desktop-hd-'] {
    flex-basis: 8.33333%;
    flex-grow: 1;
    min-width: 8.33333%;
  }
  .grid > .col-1,
  .grid > .col_desktop-hd-1,
  [class*="grid-"] > .col-1,
  [class*="grid-"] > .col_desktop-hd-1,
  .grid_desktop-hd > .col-1,
  .grid_desktop-hd > .col_desktop-hd-1 {
    flex-basis: 8.33333%;
    flex-grow: 1;
    min-width: 8.33333%;
  }
  .grid > .col-2,
  .grid > .col_desktop-hd-2,
  [class*="grid-"] > .col-2,
  [class*="grid-"] > .col_desktop-hd-2,
  .grid_desktop-hd > .col-2,
  .grid_desktop-hd > .col_desktop-hd-2 {
    flex-basis: 16.66667%;
    flex-grow: 1;
    min-width: 16.66667%;
  }
  .grid > .col-3,
  .grid > .col_desktop-hd-3,
  [class*="grid-"] > .col-3,
  [class*="grid-"] > .col_desktop-hd-3,
  .grid_desktop-hd > .col-3,
  .grid_desktop-hd > .col_desktop-hd-3 {
    flex-basis: 25%;
    flex-grow: 1;
    min-width: 25%;
  }
  .grid > .col-4,
  .grid > .col_desktop-hd-4,
  [class*="grid-"] > .col-4,
  [class*="grid-"] > .col_desktop-hd-4,
  .grid_desktop-hd > .col-4,
  .grid_desktop-hd > .col_desktop-hd-4 {
    flex-basis: 33.33333%;
    flex-grow: 1;
    min-width: 33.33333%;
  }
  .grid > .col-5,
  .grid > .col_desktop-hd-5,
  [class*="grid-"] > .col-5,
  [class*="grid-"] > .col_desktop-hd-5,
  .grid_desktop-hd > .col-5,
  .grid_desktop-hd > .col_desktop-hd-5 {
    flex-basis: 41.66667%;
    flex-grow: 1;
    min-width: 41.66667%;
  }
  .grid > .col-6,
  .grid > .col_desktop-hd-6,
  [class*="grid-"] > .col-6,
  [class*="grid-"] > .col_desktop-hd-6,
  .grid_desktop-hd > .col-6,
  .grid_desktop-hd > .col_desktop-hd-6 {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }
  .grid > .col-7,
  .grid > .col_desktop-hd-7,
  [class*="grid-"] > .col-7,
  [class*="grid-"] > .col_desktop-hd-7,
  .grid_desktop-hd > .col-7,
  .grid_desktop-hd > .col_desktop-hd-7 {
    flex-basis: 58.33333%;
    flex-grow: 1;
    min-width: 58.33333%;
  }
  .grid > .col-8,
  .grid > .col_desktop-hd-8,
  [class*="grid-"] > .col-8,
  [class*="grid-"] > .col_desktop-hd-8,
  .grid_desktop-hd > .col-8,
  .grid_desktop-hd > .col_desktop-hd-8 {
    flex-basis: 66.66667%;
    flex-grow: 1;
    min-width: 66.66667%;
  }
  .grid > .col-9,
  .grid > .col_desktop-hd-9,
  [class*="grid-"] > .col-9,
  [class*="grid-"] > .col_desktop-hd-9,
  .grid_desktop-hd > .col-9,
  .grid_desktop-hd > .col_desktop-hd-9 {
    flex-basis: 75%;
    flex-grow: 1;
    min-width: 75%;
  }
  .grid > .col-10,
  .grid > .col_desktop-hd-10,
  [class*="grid-"] > .col-10,
  [class*="grid-"] > .col_desktop-hd-10,
  .grid_desktop-hd > .col-10,
  .grid_desktop-hd > .col_desktop-hd-10 {
    flex-basis: 83.33333%;
    flex-grow: 1;
    min-width: 83.33333%;
  }
  .grid > .col-11,
  .grid > .col_desktop-hd-11,
  [class*="grid-"] > .col-11,
  [class*="grid-"] > .col_desktop-hd-11,
  .grid_desktop-hd > .col-11,
  .grid_desktop-hd > .col_desktop-hd-11 {
    flex-basis: 91.66667%;
    flex-grow: 1;
    min-width: 91.66667%;
  }
  .grid > .col-12,
  .grid > .col_desktop-hd-12,
  [class*="grid-"] > .col-12,
  [class*="grid-"] > .col_desktop-hd-12,
  .grid_desktop-hd > .col-12,
  .grid_desktop-hd > .col_desktop-hd-12 {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  /*     OFFSETS grid_desktop-hd    */
  .grid > .push-left-off-0,
  [class*="grid-"] > .push-left-off-0 {
    margin-left: 0%;
  }
  .grid > .push-right-off-0,
  [class*="grid-"] > .push-right-off-0 {
    margin-right: 0%;
  }
  .grid > .push-left-off-1,
  [class*="grid-"] > .push-left-off-1 {
    margin-left: 8.33333%;
  }
  .grid > .push-right-off-1,
  [class*="grid-"] > .push-right-off-1 {
    margin-right: 8.33333%;
  }
  .grid > .push-left-off-2,
  [class*="grid-"] > .push-left-off-2 {
    margin-left: 16.66667%;
  }
  .grid > .push-right-off-2,
  [class*="grid-"] > .push-right-off-2 {
    margin-right: 16.66667%;
  }
  .grid > .push-left-off-3,
  [class*="grid-"] > .push-left-off-3 {
    margin-left: 25%;
  }
  .grid > .push-right-off-3,
  [class*="grid-"] > .push-right-off-3 {
    margin-right: 25%;
  }
  .grid > .push-left-off-4,
  [class*="grid-"] > .push-left-off-4 {
    margin-left: 33.33333%;
  }
  .grid > .push-right-off-4,
  [class*="grid-"] > .push-right-off-4 {
    margin-right: 33.33333%;
  }
  .grid > .push-left-off-5,
  [class*="grid-"] > .push-left-off-5 {
    margin-left: 41.66667%;
  }
  .grid > .push-right-off-5,
  [class*="grid-"] > .push-right-off-5 {
    margin-right: 41.66667%;
  }
  .grid > .push-left-off-6,
  [class*="grid-"] > .push-left-off-6 {
    margin-left: 50%;
  }
  .grid > .push-right-off-6,
  [class*="grid-"] > .push-right-off-6 {
    margin-right: 50%;
  }
  .grid > .push-left-off-7,
  [class*="grid-"] > .push-left-off-7 {
    margin-left: 58.33333%;
  }
  .grid > .push-right-off-7,
  [class*="grid-"] > .push-right-off-7 {
    margin-right: 58.33333%;
  }
  .grid > .push-left-off-8,
  [class*="grid-"] > .push-left-off-8 {
    margin-left: 66.66667%;
  }
  .grid > .push-right-off-8,
  [class*="grid-"] > .push-right-off-8 {
    margin-right: 66.66667%;
  }
  .grid > .push-left-off-9,
  [class*="grid-"] > .push-left-off-9 {
    margin-left: 75%;
  }
  .grid > .push-right-off-9,
  [class*="grid-"] > .push-right-off-9 {
    margin-right: 75%;
  }
  .grid > .push-left-off-10,
  [class*="grid-"] > .push-left-off-10 {
    margin-left: 83.33333%;
  }
  .grid > .push-right-off-10,
  [class*="grid-"] > .push-right-off-10 {
    margin-right: 83.33333%;
  }
  .grid > .push-left-off-11,
  [class*="grid-"] > .push-left-off-11 {
    margin-left: 91.66667%;
  }
  .grid > .push-right-off-11,
  [class*="grid-"] > .push-right-off-11 {
    margin-right: 91.66667%;
  }
}
/*     GRID MEDIA QUERY grid_cinema    */
@media only screen and (min-width: 90em) {
  /*     GRID BY NUMBER grid_cinema    */
  [class*="grid-"] > .col,
  [class*="grid_cinema-"] > .col {
    flex-basis: 8.33333%;
    flex-grow: 1;
    min-width: 8.33333%;
  }

  .mod_shrink[class*="grid-"] > .col,
  .mod_shrink[class*="grid_cinema-"] > .col {
    flex-basis: 8.33333%;
    flex-grow: 0;
    max-width: 8.33333%;
  }

  .grid-1 > .col,
  .grid_cinema-1 > .col {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  .grid-2 > .col,
  .grid_cinema-2 > .col {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }

  .grid-3 > .col,
  .grid_cinema-3 > .col {
    flex-basis: 33.33333%;
    flex-grow: 1;
    min-width: 33.33333%;
  }

  .grid-4 > .col,
  .grid_cinema-4 > .col {
    flex-basis: 25%;
    flex-grow: 1;
    min-width: 25%;
  }

  .grid-5 > .col,
  .grid_cinema-5 > .col {
    flex-basis: 20%;
    flex-grow: 1;
    min-width: 20%;
  }

  .grid-6 > .col,
  .grid_cinema-6 > .col {
    flex-basis: 16.66667%;
    flex-grow: 1;
    min-width: 16.66667%;
  }

  .grid-7 > .col,
  .grid_cinema-7 > .col {
    flex-basis: 14.28571%;
    flex-grow: 1;
    min-width: 14.28571%;
  }

  .grid-8 > .col,
  .grid_cinema-8 > .col {
    flex-basis: 12.5%;
    flex-grow: 1;
    min-width: 12.5%;
  }

  .grid-9 > .col,
  .grid_cinema-9 > .col {
    flex-basis: 11.11111%;
    flex-grow: 1;
    min-width: 11.11111%;
  }

  .grid-10 > .col,
  .grid_cinema-10 > .col {
    flex-basis: 10%;
    flex-grow: 1;
    min-width: 10%;
  }

  .grid-11 > .col,
  .grid_cinema-11 > .col {
    flex-basis: 9.09091%;
    flex-grow: 1;
    min-width: 9.09091%;
  }

  .grid-12 > .col,
  .grid_cinema-12 > .col {
    flex-basis: 8.33333%;
    flex-grow: 1;
    min-width: 8.33333%;
  }

  /*     COLUMNS grid_cinema    */
  .grid > [class*='col-'],
  .grid > [class*='col_cinema-'],
  [class*="grid-"] > [class*='col-'],
  [class*="grid-"] > [class*='col_cinema-'],
  .grid_cinema > [class*='col-'],
  .grid_cinema > [class*='col_cinema-'] {
    flex-basis: 8.33333%;
    flex-grow: 1;
    min-width: 8.33333%;
  }
  .grid > .col-1,
  .grid > .col_cinema-1,
  [class*="grid-"] > .col-1,
  [class*="grid-"] > .col_cinema-1,
  .grid_cinema > .col-1,
  .grid_cinema > .col_cinema-1 {
    flex-basis: 8.33333%;
    flex-grow: 1;
    min-width: 8.33333%;
  }
  .grid > .col-2,
  .grid > .col_cinema-2,
  [class*="grid-"] > .col-2,
  [class*="grid-"] > .col_cinema-2,
  .grid_cinema > .col-2,
  .grid_cinema > .col_cinema-2 {
    flex-basis: 16.66667%;
    flex-grow: 1;
    min-width: 16.66667%;
  }
  .grid > .col-3,
  .grid > .col_cinema-3,
  [class*="grid-"] > .col-3,
  [class*="grid-"] > .col_cinema-3,
  .grid_cinema > .col-3,
  .grid_cinema > .col_cinema-3 {
    flex-basis: 25%;
    flex-grow: 1;
    min-width: 25%;
  }
  .grid > .col-4,
  .grid > .col_cinema-4,
  [class*="grid-"] > .col-4,
  [class*="grid-"] > .col_cinema-4,
  .grid_cinema > .col-4,
  .grid_cinema > .col_cinema-4 {
    flex-basis: 33.33333%;
    flex-grow: 1;
    min-width: 33.33333%;
  }
  .grid > .col-5,
  .grid > .col_cinema-5,
  [class*="grid-"] > .col-5,
  [class*="grid-"] > .col_cinema-5,
  .grid_cinema > .col-5,
  .grid_cinema > .col_cinema-5 {
    flex-basis: 41.66667%;
    flex-grow: 1;
    min-width: 41.66667%;
  }
  .grid > .col-6,
  .grid > .col_cinema-6,
  [class*="grid-"] > .col-6,
  [class*="grid-"] > .col_cinema-6,
  .grid_cinema > .col-6,
  .grid_cinema > .col_cinema-6 {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 50%;
  }
  .grid > .col-7,
  .grid > .col_cinema-7,
  [class*="grid-"] > .col-7,
  [class*="grid-"] > .col_cinema-7,
  .grid_cinema > .col-7,
  .grid_cinema > .col_cinema-7 {
    flex-basis: 58.33333%;
    flex-grow: 1;
    min-width: 58.33333%;
  }
  .grid > .col-8,
  .grid > .col_cinema-8,
  [class*="grid-"] > .col-8,
  [class*="grid-"] > .col_cinema-8,
  .grid_cinema > .col-8,
  .grid_cinema > .col_cinema-8 {
    flex-basis: 66.66667%;
    flex-grow: 1;
    min-width: 66.66667%;
  }
  .grid > .col-9,
  .grid > .col_cinema-9,
  [class*="grid-"] > .col-9,
  [class*="grid-"] > .col_cinema-9,
  .grid_cinema > .col-9,
  .grid_cinema > .col_cinema-9 {
    flex-basis: 75%;
    flex-grow: 1;
    min-width: 75%;
  }
  .grid > .col-10,
  .grid > .col_cinema-10,
  [class*="grid-"] > .col-10,
  [class*="grid-"] > .col_cinema-10,
  .grid_cinema > .col-10,
  .grid_cinema > .col_cinema-10 {
    flex-basis: 83.33333%;
    flex-grow: 1;
    min-width: 83.33333%;
  }
  .grid > .col-11,
  .grid > .col_cinema-11,
  [class*="grid-"] > .col-11,
  [class*="grid-"] > .col_cinema-11,
  .grid_cinema > .col-11,
  .grid_cinema > .col_cinema-11 {
    flex-basis: 91.66667%;
    flex-grow: 1;
    min-width: 91.66667%;
  }
  .grid > .col-12,
  .grid > .col_cinema-12,
  [class*="grid-"] > .col-12,
  [class*="grid-"] > .col_cinema-12,
  .grid_cinema > .col-12,
  .grid_cinema > .col_cinema-12 {
    flex-basis: 100%;
    flex-grow: 1;
    min-width: 100%;
  }

  /*     OFFSETS grid_cinema    */
  .grid > .push-left-off-0,
  [class*="grid-"] > .push-left-off-0 {
    margin-left: 0%;
  }
  .grid > .push-right-off-0,
  [class*="grid-"] > .push-right-off-0 {
    margin-right: 0%;
  }
  .grid > .push-left-off-1,
  [class*="grid-"] > .push-left-off-1 {
    margin-left: 8.33333%;
  }
  .grid > .push-right-off-1,
  [class*="grid-"] > .push-right-off-1 {
    margin-right: 8.33333%;
  }
  .grid > .push-left-off-2,
  [class*="grid-"] > .push-left-off-2 {
    margin-left: 16.66667%;
  }
  .grid > .push-right-off-2,
  [class*="grid-"] > .push-right-off-2 {
    margin-right: 16.66667%;
  }
  .grid > .push-left-off-3,
  [class*="grid-"] > .push-left-off-3 {
    margin-left: 25%;
  }
  .grid > .push-right-off-3,
  [class*="grid-"] > .push-right-off-3 {
    margin-right: 25%;
  }
  .grid > .push-left-off-4,
  [class*="grid-"] > .push-left-off-4 {
    margin-left: 33.33333%;
  }
  .grid > .push-right-off-4,
  [class*="grid-"] > .push-right-off-4 {
    margin-right: 33.33333%;
  }
  .grid > .push-left-off-5,
  [class*="grid-"] > .push-left-off-5 {
    margin-left: 41.66667%;
  }
  .grid > .push-right-off-5,
  [class*="grid-"] > .push-right-off-5 {
    margin-right: 41.66667%;
  }
  .grid > .push-left-off-6,
  [class*="grid-"] > .push-left-off-6 {
    margin-left: 50%;
  }
  .grid > .push-right-off-6,
  [class*="grid-"] > .push-right-off-6 {
    margin-right: 50%;
  }
  .grid > .push-left-off-7,
  [class*="grid-"] > .push-left-off-7 {
    margin-left: 58.33333%;
  }
  .grid > .push-right-off-7,
  [class*="grid-"] > .push-right-off-7 {
    margin-right: 58.33333%;
  }
  .grid > .push-left-off-8,
  [class*="grid-"] > .push-left-off-8 {
    margin-left: 66.66667%;
  }
  .grid > .push-right-off-8,
  [class*="grid-"] > .push-right-off-8 {
    margin-right: 66.66667%;
  }
  .grid > .push-left-off-9,
  [class*="grid-"] > .push-left-off-9 {
    margin-left: 75%;
  }
  .grid > .push-right-off-9,
  [class*="grid-"] > .push-right-off-9 {
    margin-right: 75%;
  }
  .grid > .push-left-off-10,
  [class*="grid-"] > .push-left-off-10 {
    margin-left: 83.33333%;
  }
  .grid > .push-right-off-10,
  [class*="grid-"] > .push-right-off-10 {
    margin-right: 83.33333%;
  }
  .grid > .push-left-off-11,
  [class*="grid-"] > .push-left-off-11 {
    margin-left: 91.66667%;
  }
  .grid > .push-right-off-11,
  [class*="grid-"] > .push-right-off-11 {
    margin-right: 91.66667%;
  }
}

/*# sourceMappingURL=gridlex.css.map */
